body {
    background-color:cyan;
    font:#333333;
    margin: 0;
    padding: 0;
  }
header {
    background-color:hotpink;
    padding-bottom:3%;
    padding-top:2%;
}
h1 {
    color:white;
    font-size:40px;
    text-align:center;
    background-color:hotpink;
}
#position {
    font-size:28px;
    width:1024px;
    padding-left:9%;
    margin:0 auto;
}
#position2 {
    padding-left:5%;
}
#space {
    color:grey;
    position:float;
    padding-right:20%;
}
.container {
    margin: 0 auto;
    
}
#mainbio {
    float:left;
    width:70%;
    padding-top:5%;
}
#bioimage {
    float:left;
    width:200px;
    margin:75px;
}
#contactinfo {
    float:left;
    width:30%;
    padding-top:4%;
}
a {
    color:#d21034;
}
#triangle {
    width:100px;
    height:100px;
    transform: rotate(45deg);
    background-color:hotpink;
}
.flex-container {
    display: flex;
    flex-direction: row;
    grid-column:1 / 5;
  }
