body {
    margin: 0;
    padding: 0;
  }
header {
    background-color:#333333;
}
h1 {
    color:#eee;
    font-size:28px;
}
#space {
    float:center;
    color:grey;
}
.container {
    margin: 0 auto;
}
#mainbio {
    float:left;
    width:70%;
}
#bioimage {
    float:left;
    width:200px;
    margin:75px;
}
#contactinfo {
    float:left;
    width:30%;
}
a {
    color:#d21034;
}