#background{
     background-color: paleturquoise;
}
#jumbotext{
    color: black;
}
#jumbobackground{
    background-color:lightcyan;
}

#start_screen{
    color: blue;
    margin: 0;
    border: 20rem;
  }
  #quiz{
    font-size:40px;
    color: black;
    text-align: center;
  }

  #game_over{
    color: blue;
    text-align: center;
  }

  #reset_button{
    text-align: center;
    font-size:40px;

  }

  #scores{
    font-size:40px;
    text-align: center;
    color: black;
  }