body {
    background-color:whitesmoke;
}

.fixedtop{
    position:fixed;
}
#img1 {
    max-width:65%;
    height:auto;
}
#jumbobio {
    inset-inline:1.2em;
}
#about-me{
    color:white;
    padding-top:1em;
}
#navbartext{
    color:white;
}
#bio1{
    padding-left:5em;
    color:white;
}

#bio2{
    padding-left:5em;
    color:white;
}  
#cardtitle{
    padding-top:5em;
    position:relative;
}
#cardstyle{
    padding-bottom:2em;
}
#cardcolor{
    background-color:lightslategray;
    color:white;
}
#linkspace{
    display: inline-block;
    padding-left:0.20em;
}
#mepic{
    position:relative;
    padding-left:.2em;
}
#biotext{
    padding-top:1.5em;
    padding-right:10em; 
    padding-bottom:5em;
}
#footertext{
    text-align:center;
    color:white;
}
#backgroundfooter{
    background-color:#212529;
}
#carouselstyle{
    position:relative;
    padding-top:5em;
    padding-bottom:2.5em;
}
#stationary{
    position:relative;
    align:center;
    padding-bottom:2.5em;
}
#moreinstagram{
    
}
#dividertitle{
    text-align:center;
}
.linkcolor{
    color:white;
}
#resourcetitle{
    padding-left:10em;
}
#sampletext{
    text-align:left;
}